
<ion-content>


    <div class="product_main_area">
      <div class="container">
        <div class="product_body_area">
          <div class="header_area">
            <button class="nav_bar" (click)="back()"> <i class="zmdi zmdi-arrow-left"></i></button>
            <div class="logo"><img src="assets/images/logo.png" alt="logo" title=""></div>
            <div class="header_right">
            	<button class="btn-cart"><i class="fas fa-share-alt"></i></button>
            	<!-- <button class="btn-cart"><i class="fas fa-heart"></i></button> -->
            	<button class="btn-cart" routerLink="/cart-page"><i class="fas fa-shopping-cart"></i><span class="total_cart" [innerHTML]="cartcount"></span></button>
            </div>
          </div>
          <div class="search_box_area">
            <h3>product details</h3>
            <!-- <div class="product_type_box">
            	<h4>Type of Hoses</h4>
            	<select class="form-control">
            		<option>SAE J517</option>
            	</select>
            </div> -->
          </div>

          <!----- banner area start ----->
          <div class="banner_area">
          	<div class="banner_image">
          		<img src="{{img_url}}{{product_info?.hp_image}}" alt="details banner" title="">
          	</div>
          	<!-- <div class="banner_nav">
          		<button class="btn-nav active"></button>
          		<button class="btn-nav"></button>
          		<button class="btn-nav"></button>
          	</div> -->
          </div>
          <!----- banner area stop ----->

          <!------ details area start ----->
          <div class="product_details">
          	<div class="heading">
          		<h1>{{product_info?.item_name}}{{product_info?.hp_partno}}</h1>
          		<div class="admin" *ngIf="product_info?.hp_subcat==1">
          			<h3>by {{product_info?.standard_name}}</h3>
          		</div>
          		<div class="admin">
          			<h3><span>4.5</span><span class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></h3>
          		</div>
          	</div>
          	<div class="product_type">
          		<h4>Type of Product : <strong>{{product_info?.service_name}}</strong></h4>
          		<div class="product_size" *ngIf="product_info?.hp_subcat==1 || product_info?.hp_subcat==3">
          			Size : <strong>{{product_info?.size_name}}"</strong>
          		</div>
          		<div class="product_size">
          			Price : <strong>INR {{product_info?.hp_price}}</strong><!-- <div class="cut_price">INR 60</div> -->
          		</div>
          	</div>
          	<div class="product_description">
          		<h5>Description :</h5>
          		<p>{{product_info?.hp_description}}</p>
          	</div>
          	<button class="btn btn-cart" (click)="addToCart(0,product_info?.hp_id,product_info)" *ngIf="product_info?.quantity==0">add to cart</button>

          	<button *ngIf="userDetails" (click)="storePage('product-details/'+product_info?.hp_id)" class="btn" routerLink="/direct-buy/{{product_info?.hp_id}}">buy now</button>
                <button *ngIf="!userDetails"  class="btn" routerLink="/login">buy now</button>
            
          </div>

          <div class="recomended_area">
          	<h6>Recommended Applications :</h6>
          	<div class="recomended_body">
          		<p>{{product_info?.hp_recom_app}}</p>
          	</div>
          </div>

          <!------ details area stop ----->


        </div>
      </div>
    </div>
    
  
</ion-content>
