
<ion-content>
  
    <div class="header_area">
        <button class="btn-back" routerLink="/home"><img src="assets/images/back2.png" alt="back" title=""></button>
        <h1>Product Details</h1>
        <button class="btn-cart"><img src="assets/images/cart2.png" alt="back" title=""></button>
    </div>
    <div class="product_details_main_area">
        <div class="product_img_box">
            <img src="assets/images/product-details.png" alt="image" title="">
        </div>
        <div class="product_body">
            <div class="container">
                <div class="product_heading">
                    <h1>R2AT - 20.7 MPA (AE J517)</h1>
                    <div class="star"><img src="assets/images/product-star.png">4.5</div>
                    <div class="size">
                        Size : 
                        <select class="form-control">
                            <option>3/16"</option>
                        </select>
                    </div>
                    <div class="price">
                        INR 50<span>/Meter</span>
                        <div class="form-group">
                            <button class="btn-qtn btn-left">-</button>
                            <input type="text" class="form-control" value="1">
                            <button class="btn-qtn btn-right">-</button>
                        </div>
                    </div>
                </div>
                <div class="product_description_area">
                    <div class="product_description">
                        <img src="assets/images/details1.png">
                        <h4>Specification</h4>
                        <p>SAE 100 R2 AT/ DIN EN853 2SN</p>
                    </div>
                    <div class="product_description">
                        <img src="assets/images/details2.png">
                        <h4>Construction</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="product_description">
                        <img src="assets/images/details3.png">
                        <h4>Temprature Ranges</h4>
                        <p>-40°C to +100°C (+120°C intermittent)</p>
                    </div>
                    <div class="product_description">
                        <img src="assets/images/details4.png">
                        <h4>Description Usage</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <button class="btn btn2 btn3"><img src="assets/images/pdf.png"> download PDF</button>
                <button class="btn">add to cart</button>
               
            </div>
        </div>
    </div>
  
</ion-content>
