
<ion-content>
  
    <div class="header_area">
        <button class="btn-back" routerLink="/home"><img src="assets/images/back2.png" alt="back" title=""></button>
        <h1>Product Details</h1>
        <button class="btn-cart" routerLink="/cart-page"><img src="assets/images/cart2.png" alt="back" title=""><span class="total_cart" [innerHTML]="cartcount"></span></button>
    </div>
    <div class="product_details_main_area">
        <div class="product_img_box">
            <img src="{{img_url}}{{product_info?.hp_image}}" alt="details banner" title="">
        </div>
        <div class="product_body">
            <div class="container">
                <div class="product_heading">
                    <h1>{{product_info?.item_name}}{{product_info?.hp_partno}}</h1>
                    <div class="star"><img src="assets/images/product-star.png">4.5</div>
                    <div class="price" style="margin-bottom: 10px;" *ngIf="product_info?.size_name">
                        Size : {{product_info?.size_name}}
                       <!--  <select class="form-control">
                            <option>{{product_info?.size_name}}</option>
                        </select> -->
                    </div>
                    <div class="price">
                        INR {{product_info?.hp_price}}<span *ngIf="product_info?.hp_priceunit">/Meter</span>
                        <div class="form-group" *ngIf="product_info?.quantity>0">
                            <button class="btn-qtn btn-left" (click)="decrementQty(0,product_info?.hp_id,product_info)">-</button>
                            <input type="text" class="form-control" value="{{product_info?.quantity}}">
                            <button class="btn-qtn btn-right" (click)="incrementQty(0,product_info?.hp_id,product_info)">+</button>
                        </div>
                    </div>
                </div>
                <div class="product_description_area">
                    <div class="product_description" *ngIf="product_info?.hp_specification">
                        <img src="assets/images/details1.png">
                        <h4>Specification</h4>
                        <p>{{product_info?.hp_specification}}</p>
                    </div>
                   <div class="product_description" *ngIf="product_info?.hp_construction">
                        <img src="assets/images/details2.png">
                        <h4>Construction</h4>
                        <p>{{product_info?.hp_construction}}</p>
                    </div>
                   <div class="product_description" *ngIf="product_info?.hp_temperature">
                        <img src="assets/images/details3.png">
                        <h4>Temperature Ranges</h4>
                        <p>{{product_info?.hp_temperature}}</p>
                    </div>
                   <div class="product_description" *ngIf="product_info?.hp_description">
                        <img src="assets/images/details4.png">
                        <h4>Description Usage</h4>
                        <p>{{product_info?.hp_description}}</p>
                    </div>
                </div>
                <button class="btn btn2 btn3"><img src="assets/images/pdf.png"> download PDF</button>
               <button class="btn" (click)="addToCart(0,product_info?.hp_id,product_info)" *ngIf="product_info?.quantity==0">add to cart</button>

            <!-- <button *ngIf="userDetails" (click)="storePage('product-details/'+product_info?.hp_id)" class="btn" routerLink="/direct-buy/{{product_info?.hp_id}}">buy now</button> -->
               <!--  <button class="btn">add to cart</button> -->
               
            </div>
        </div>
    </div>
  
</ion-content>
