@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body {
    display: block;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    position:relative;
    z-index:1;
    background-color: #ffffff;

}
*, ::after, ::before {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{ font-family: 'Montserrat', sans-serif;}
img {
    max-width: 100%;
    height: auto;
}
.login_area {
    width: 100%;
    height: auto;
    
    box-sizing: border-box;
    overflow: scroll;
    padding-bottom: 30px;
}
.login_area::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/images/login-bg1.png);
  z-index: 0;
}
.container {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 24px;
}
.header_area {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 91;
    padding: 60px 0 20px;
    margin: 0px 0 0px;
}
.header_area h1{
  width: 100%;
  margin: 0 0 0;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.login_body {
  width: 90%;
  box-sizing: border-box;
 
  position: relative;
  z-index: 1;
  margin: 68px 0 30px;
}
.form-group {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.form-group.phone {
  width: 83%;
}
.form-group.Password {
  width: 53%;
}
.form-group.Confirm {
  width: 72%;
}
.form-control {
  width: 100%;
  height: 42px;
  border: none;
  border-bottom: 1px solid #8e8e8d82;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  background:transparent;
  background-color: transparent;
}
.form-control::placeholder{
  font-weight: 500;
}
input:focus {   
  border-color: none;
  box-shadow:none;
  outline: 0 none;
  background-color: transparent;
}
.btn-link {
    padding: 0 0;
    margin: 0px 0;
    color: #737373;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    border: none;
    background-color: transparent;
}
.btn-link:hover{ color: #000; }
.submit_button_box {
  position: absolute;
  top: 66%;
  right: 9%;
  box-sizing: border-box;
}
.btn {
  padding: 6px 25px;
  font-size: 30px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: #ffffff;
  color: #dc4824;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}
.btn:hover {
  background-color: #000;
  border: none;
  color: #fff;
}
.login_with {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-top: 66px;
}
.login_with .or {
    width: 83%;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    margin: auto auto 15px auto;
}
.login_with .or strong{
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #000000;
  padding: 0 5px;
  background: #ffffff;
  position: relative;z-index: 1;
}
.login_with .or:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #bfbfbf;
}
.login_with h3 {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0 20px;
    font-size: 14px;
    font-weight: 500;
    color: #797979;
    text-align: center;
}
.login_with ul{
  width: 100%;
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 0 15px;
  text-align: center;
}
.login_with ul li {
    display: inline-block;
    padding: 0 0;
    margin: 0 2px;
    vertical-align: middle;
    max-width: 34px;
}
.login_with p{
  width: 100%;
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  text-align: center;
}
.login_with .btn-link{
  color: #e54b25;
  text-decoration: underline;
}


@media(max-width: 479px) {
.submit_button_box {
    position: absolute;
    top: 77%;
    right: 9%;
    box-sizing: border-box;
}
.login_area {
    width: 100%;
    height: 100%;
   
}
.form-group.phone {
  width: 83%;
}
.form-group.Password {
  width: 53%;
}
.form-group.Confirm {
    width: 61%;
}
.login_body {
    
    margin: 113px 0 30px;
}
}
@media(max-width:414px) {
.header_area {
    width: 100%;
    box-sizing: border-box;
   
    z-index: 91;
    padding: 34px 0 20px;
    margin: 0px 0 0px;
}
.login_area {
    width: 100%;
    height: 100%;
}
.submit_button_box {
    top: 180%;
    right: 9%;
}
.login_with {
    width: 100%;
   
    margin-top: 213px;
}
.login_with .or:before {
   
    width: 80%;
   
}

}
@media(max-width:411px) {

.login_with {
    
    margin-top: 180px;
}
.login_with .or {
    width: 90%;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    margin: auto auto 8px auto;
}
.login_with .or:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 78%;
    height: 1px;
    background: #bfbfbf;
}
.submit_button_box {
    position: absolute;
    top: 154%;
    right: 9%;
    box-sizing: border-box;
}
.header_area {
    
    padding: 64px 0 20px;
   
}
}
@media(max-width:410px) {
.submit_button_box {
  position: absolute;
  top: 72%;
  right: 9%;
  box-sizing: border-box;
}
.login_area {
    width: 100%;
    height: auto;
   
}
.login_body {
 
  margin: 68px 0 30px;
}
}

@media(max-width:375px) {
.submit_button_box {
    position: absolute;
    top: 160%;
    right: 9%;
    box-sizing: border-box;
}
.login_area {
    width: 100%;
    height: 100vh;
}
.login_body {
 
  margin: 68px 0 30px;
}

.login_area::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top right;
   
}
.header_area {
   
    padding: 62px 0 20px;
   
}
}

@media(max-width:360px) {
.login_area {
    width: 100%;
    height:100vh;
}
.submit_button_box {
    top: 148%;
    right: 9%;
}
.login_with {
    
    margin-top: 150px;
}
.login_with .or {
    width: 90%;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    margin: auto auto 8px auto;
}
.login_with .or:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 74%;
    height: 1px;
    background: #bfbfbf;
}

}

@media(max-width:320px) {
.header_area {
    width: 100%;
    box-sizing: border-box;
    
    z-index: 91;
    padding: 34px 0 20px;
    margin: 0px 0 0px;
}
.login_area {
    width: 100%;
    height: auto;
}
.submit_button_box {
    top: 134%;
    right: 9%;
}
.login_with .or:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 88%;
    height: 1px;
    background: #bfbfbf;
}
}

.nav_bar {
    float: left;
    background: transparent;
    color: #fff;
    padding: 0 0;
    margin: 0 0;
    border: none;
    /*margin-right: 12px;*/
    font-size: 24px;
    margin-top: 3px;
    outline: none;
    margin-top: 30px;
    position: relative;
    z-index: 99;
}