
<ion-content>
  
    <div class="menu_area">
        <div class="menu_heading">
            <button class="btn-back" (click)="back()"><img src="assets/images/back.png" alt="back" title="" /></button>
            <h6>settings</h6>
        </div>
        <div class="menu_body">
            <ul>
                <li routerLink="/home" (click)="storePage('sidebar')">
                    <a href="#" class="active">
                        <div class="menu_icon"><img src="assets/images/menu1.png"></div>
                        Home
                    </a>
                </li>
                <li *ngIf="!userDetails" routerLink="/login" (click)="storePage('sidebar')">
                    <a href="#">
                        <div class="menu_icon"><img src="assets/images/menu2.png"></div>
                        Login
                    </a>
                </li>
                <li *ngIf="!userDetails" routerLink="/register" (click)="storePage('sidebar')">
                    <a href="#">
                        <div class="menu_icon"><img src="assets/images/menu2.png"></div>
                        Registration
                    </a>
                </li>
                 <li *ngIf="userDetails" routerLink="/order-list" (click)="storePage('sidebar')">
                    <a href="#">
                        <div class="menu_icon"><img src="assets/images/menu6.png"></div>
                       My Order
                    </a>
                </li>
                 <li *ngIf="userDetails" routerLink="/address-list" (click)="storePage('sidebar')">
                    <a href="#">
                        <div class="menu_icon"><img src="assets/images/menu6.png"></div>
                        Address
                    </a>
                </li>
                  <li *ngIf="userDetails" routerLink="/profile" (click)="storePage('sidebar')">
                    <a href="#">
                        <div class="menu_icon"><img src="assets/images/menu2.png"></div>
                        Profile
                    </a>
                </li>
                 <li *ngIf="userDetails">
                    <a href="#" routerLink="/change-password" (click)="storePage('sidebar')">
                        <div class="menu_icon"><img src="assets/images/menu2.png"></div>
                        Change Password
                    </a>
                </li>
                <li routerLink="/about" (click)="storePage('sidebar')">
                    <a href="#">
                        <div class="menu_icon"><img src="assets/images/menu3.png"></div>
                        About
                    </a>
                </li>
                <li routerLink="/contact" (click)="storePage('sidebar')">
                    <a href="#">
                        <div class="menu_icon"><img src="assets/images/menu4.png"></div>
                        Contact Us
                    </a>
                </li>
                <li routerLink="/privacy-policy" (click)="storePage('sidebar')">
                    <a href="#">
                        <div class="menu_icon"><img src="assets/images/menu5.png"></div>
                        Privacy Policy
                    </a>
                </li>
                <li routerLink="/term-condition" (click)="storePage('sidebar')">
                    <a href="#">
                        <div class="menu_icon"><img src="assets/images/menu6.png"></div>
                        Terms & Conditions
                    </a>
                </li>
                <li class="logout"  *ngIf="userDetails" (click)="logout()">
                    <a href="#">
                        <div class="menu_icon"><img src="assets/images/menu7.png"></div>
                        Log Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="automotive_area">
      <div class="container">
          <div class="automotive_body">
              <div class="header_area">
                  <button class="btn-back"><img src="assets/images/back.png" alt="back" title="" /></button>
                  <h1>Hose Assembly - Add On</h1>
                  <button class="btn-cart"><img src="assets/images/cart.png" alt="back" title="" /></button>
              </div>
              <div class="search_box">
                  <div class="icon"><i class="zmdi zmdi-search"></i></div>
                  <input type="text" class="form-control" placeholder="Search Products..." />
              </div>
              <ul class="filter">
                <li>Bare Hoses</li>
                <li>End Fittings</li>
                <li class="active">Add On</li>
              </ul>
              <div class="form-group">
                  <label>Type of Add on</label>
                  <select class="form-control">
                      <option>Pyrojacket</option>
                  </select>
                  <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
              </div>
              <button class="btn">send query</button>
          </div>
      </div>
    </div>
  
</ion-content>
