

<ion-content [fullscreen]="true">
  
    <div class="automotive_area">
      <div class="container">
          <div class="automotive_body">
              <div class="header_area">
                  <button class="btn-back" routerLink="/home" (click)="storePage('home')"><img src="assets/images/back.png" alt="back" title="" /></button>
                  <div class="logo"><img src="assets/images/logo2.png" alt="logo" title=""></div>
                  <button class="btn-cart"><img src="assets/images/cart.png" alt="back" title="" /></button>
              </div>
              <div class="search_box">
                  <div class="icon"><i class="zmdi zmdi-search"></i></div>
                  <input type="text" class="form-control" placeholder="Search Products..." />
              </div>
              
              <div class="product_area">
                    <h3>
                        Trending Products
                        
                    </h3>
                  <div class="product_box" routerLink="/product-details/1">
                    <div class="img_box"><img src="assets/images/product-details.png"></div>
                    <h4>R2AT - 20.7 MPA</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h5>
                        Size : 3/16"
                        <div class="price">INR 50<strong>/Meter</strong></div>
                      </h5>
                  </div>
                  <div class="product_box" routerLink="/product-details/1">
                    <div class="img_box"><img src="assets/images/product-details.png"></div>
                    <h4>R2AT - 20.7 MPA</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h5>
                        Size : 3/16"
                        <div class="price">INR 50<strong>/Meter</strong></div>
                      </h5>
                  </div>
              </div>
          </div>
      </div>
    </div>
  
</ion-content>
