<ion-content [fullscreen]="true">

    <div class="automotive_area">
      <div class="container">
          <div class="automotive_body">
              <div class="header_area">
                  <button class="btn-back" routerLink="/home"><img src="assets/images/back.png" alt="back" title="" /></button>
                  <h1 *ngIf="tab_val == 'bare'">Hose Assembly - Bare Hoses</h1>
                  <h1 *ngIf="tab_val == 'endfit'">Hose Assembly - End Fittings</h1>
                  <h1 *ngIf="tab_val == 'addon'">Hose Assembly - Add On</h1>
                     <button class="btn-cart" routerLink="/cart-page"><img src="assets/images/cart.png" alt="back" title="" /><span class="total_cart" [innerHTML]="cartcount" ></span></button>
              </div>
              <div class="search_box">
                 <div class="icon" (click)="gotoProductserch()"><i class="zmdi zmdi-search" ></i></div>
                  <input type="text" class="form-control" [(ngModel)]="text_search" placeholder="Search Products..." />
              </div>
               <div class="filter">
                <button (click)="tab_click('bare')" [ngClass]="{'active': tab_val == 'bare'}">Bare Hoses</button>
                <button (click)="tab_click('endfit')" [ngClass]="{'active': tab_val == 'endfit'}">End Fittings</button>
                <button (click)="tab_click('addon')" [ngClass]="{'active': tab_val == 'addon'}">Add On</button>
              </div>
             
               <div class="product_select" *ngIf="tab_val == 'endfit'">
                <label class="check_box">
                    <input type="radio" name="" [checked]="endfittab_val == 'endfitA'" (change)="onChangeHandler('endfitA')" />  
                    <span>End-A</span>
                </label>
                <label class="check_box">
                    <input type="radio" name="" [checked]="endfittab_val == 'endfitB'" (change)="onChangeHandler('endfitB')" />  
                    <span>End-B</span>
                </label>
                <label class="check_box">
                    <input type="radio" name="" [checked]="endfittab_val == 'endfitAngel'" (change)="onChangeHandler('endfitAngel')"/>  
                    <span>Angle of Orientation</span>
                </label>
                <label class="check_box">
                    <input type="radio" name="" [checked]="endfittab_val == 'endfitAdapter'" (change)="onChangeHandler('endfitAdapter')"/>  
                    <span>Adapter</span>
                </label>
              </div>

              <div *ngIf="tab_val == 'bare'">
              <div class="form-group">
                  <label>Standard</label>
                  <select class="form-control" [(ngModel)]="standard" [ngModelOptions]="{standalone: true}">
                      <option value="">Select Standard</option>
                       <option *ngFor="let data_liststandard of data_list_standard" value="{{data_liststandard.standard_id}}">{{data_liststandard.standard_name}}</option>
                  </select>
                  <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
              </div>
              <div class="form-group">
                  <label>Size</label>
  <ionic-selectable
    class="form-control"
    item-content
    [(ngModel)]="port"
    [items]="data_list_size"
    itemValueField="size_id"
    itemTextField="size_name"
    [canSearch]="true"
    placeholder="Select size"
    (onChange)="portChange($event)" >
      </ionic-selectable>
</div>
             
              <div class="form-group">
                  <label>Name</label>
                  <select class="form-control" (change)="getPressure($event.target.value)"  [(ngModel)]="productName" [ngModelOptions]="{standalone: true}">
                      <option value="">Select Name</option>
                       <option *ngFor="let data_listproductnm of data_list_productnm" value="{{data_listproductnm.item_id}}">{{data_listproductnm.item_name}}</option>
                  </select>
                  <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
              </div>
              <div class="form-group">
                  <label>Pressure</label>
                  <select class="form-control" [(ngModel)]="pressure" [ngModelOptions]="{standalone: true}">
                  <option value="" selected="selected" >Select</option>
                   <option *ngFor="let pressure_list of pressureList" value="{{pressure_list.hp_id}}">{{pressure_list.hp_pressure}}</option>
                </select> 
                  <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
              </div>
              <div class="form-group form-radio" >
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="hose_lengthtype" [ngModelOptions]="{standalone: true}"   value="Hose Length" [checked]="hose_lengthtype==='Hose Length'">Hose Length
                </label>
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="hose_lengthtype" [ngModelOptions]="{standalone: true}"  value="Overall Length" [checked]="hose_lengthtype==='Overall Length'">Overall Length
                </label>
              </div>
             <!--  <div class="form-group" *ngIf="hose_lengthtype == 'Hose Length'"> -->
              <div class="form-group">
                  <label>Hose Length</label>
                  <input type="text" [(ngModel)]="hose_length" [ngModelOptions]="{standalone: true}" class="form-control form-control1" placeholder="Text input" />
              </div>
              <button class="btn" (click)="tab_click('endfit')" >SELECT END FITTINGS</button>
            </div>
             <div *ngIf="tab_val == 'endfit'">


              <div *ngIf="endfittab_val == 'endfitA'">
              <div class="form-group">
                  <label>Part Type</label>
                  <select class="form-control"  #p1 (change)="listing_size_ptype(p1.value,1)" [(ngModel)]="part_type" [ngModelOptions]="{standalone: true}">
                  <option value="" >Select part type</option>
                 <option *ngFor="let part_list of partList" value="{{part_list.part_id}}">{{part_list.part_name}}</option>
                </select>
                  <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
              </div>
              <div class="form-group">
                  <label>Size</label>
  <ionic-selectable
    class="form-control"
    item-content
    [(ngModel)]="port2"
    [items]="data_list_size"
    itemValueField="size_id"
    itemTextField="size_name"
    [canSearch]="true"
    placeholder="Select size"
    (onChange)="portChange2($event)" >
      </ionic-selectable>
</div>
               
               <div class="form-group">
                  <label>Part Type</label>
                  <select class="form-control"  #p2 (change)="listing_size_ptype(p2.value,2)" [(ngModel)]="part_type2" [ngModelOptions]="{standalone: true}">
                  <option value="" >Select part type</option>
                 <option *ngFor="let part_list of partList" value="{{part_list.part_id}}">{{part_list.part_name}}</option>
                </select>
                  <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
              </div>
              <div class="form-group">
                  <label>Size</label>
  <ionic-selectable
    class="form-control"
    item-content
    [(ngModel)]="port3"
    [items]="data_list_size"
    itemValueField="size_id"
    itemTextField="size_name"
    [canSearch]="true"
    placeholder="Select size"
    (onChange)="portChange3($event)" >
      </ionic-selectable>
</div>
               <div class="form-group">
                  <label>Part Type</label>
                  <select class="form-control"  #p3 (change)="listing_size_ptype(p3.value,3)" [(ngModel)]="part_type3" [ngModelOptions]="{standalone: true}">
                  <option value="" >Select part type</option>
                 <option *ngFor="let part_list of partList" value="{{part_list.part_id}}">{{part_list.part_name}}</option>
                </select>
                  <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
              </div>
              <div class="form-group">
                  <label>Size</label>
  <ionic-selectable
    class="form-control"
    item-content
    [(ngModel)]="port4"
    [items]="data_list_size"
    itemValueField="size_id"
    itemTextField="size_name"
    [canSearch]="true"
    placeholder="Select size"
    (onChange)="portChange4($event)" >
      </ionic-selectable>
</div>
              <button class="btn" (click)="onChangeHandler('endfitB')">select end-b</button>

            </div>
            <div *ngIf="endfittab_val == 'endfitB'">
               <div class="form-group">
                  <label>Part Type</label>
                  <select class="form-control"  #p4 (change)="listing_size_ptype(p4.value,4)" [(ngModel)]="endbpart_type" [ngModelOptions]="{standalone: true}">
                  <option value="" >Select part type</option>
                 <option *ngFor="let part_list of partList" value="{{part_list.part_id}}">{{part_list.part_name}}</option>
                </select>
                  <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
              </div>
              <div class="form-group">
                  <label>Size</label>
  <ionic-selectable
    class="form-control"
    item-content
    [(ngModel)]="port5"
    [items]="data_list_size"
    itemValueField="size_id"
    itemTextField="size_name"
    [canSearch]="true"
    placeholder="Select size"
    (onChange)="portChange5($event)" >
      </ionic-selectable>
</div>
               <div class="form-group">
                  <label>Part Type</label>
                  <select class="form-control"  #p5 (change)="listing_size_ptype(p5.value,5)" [(ngModel)]="endbpart_type2" [ngModelOptions]="{standalone: true}">
                  <option value="" >Select part type</option>
                 <option *ngFor="let part_list of partList" value="{{part_list.part_id}}">{{part_list.part_name}}</option>
                </select>
                  <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
              </div>
              <div class="form-group">
                  <label>Size</label>
  <ionic-selectable
    class="form-control"
    item-content
    [(ngModel)]="port6"
    [items]="data_list_size"
    itemValueField="size_id"
    itemTextField="size_name"
    [canSearch]="true"
    placeholder="Select size"
    (onChange)="portChange6($event)" >
      </ionic-selectable>
</div>
               <div class="form-group">
                  <label>Part Type</label>
                  <select class="form-control"  #p6 (change)="listing_size_ptype(p6.value,6)" [(ngModel)]="endbpart_type3" [ngModelOptions]="{standalone: true}">
                  <option value="" >Select part type</option>
                 <option *ngFor="let part_list of partList" value="{{part_list.part_id}}">{{part_list.part_name}}</option>
                </select>
                  <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
              </div>
              <div class="form-group">
                  <label>Size</label>
  <ionic-selectable
    class="form-control"
    item-content
    [(ngModel)]="port7"
    [items]="data_list_size"
    itemValueField="size_id"
    itemTextField="size_name"
    [canSearch]="true"
    placeholder="Select size"
    (onChange)="portChange7($event)" >
      </ionic-selectable>
</div>
              <button class="btn" (click)="onChangeHandler('endfitAngel')">select Angle of Orientation</button>
            </div>
            <div *ngIf="endfittab_val == 'endfitAngel'">
                  <div class="form-group">
                  <label>Degree</label>
                  <select class="form-control" [(ngModel)]="angeldegree" [ngModelOptions]="{standalone: true}">
                    <option value="">Select Degree</option>
                    <option value="0">0</option>
                      <option *ngFor="let item of [].constructor(180); let i = index" value="{{i+1}}">{{i+1}}</option>
                      <option value="275">275</option>
                      <option value="360">360</option>
                  </select>
                  <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
              </div>
              <button class="btn" (click)="onChangeHandler('endfitAdapter')">select adapter</button>
            </div>
            <div *ngIf="endfittab_val == 'endfitAdapter'">
               <div class="form-group form-radio">
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="adapterradio" [ngModelOptions]="{standalone: true}" value="yes"  [checked]="adapterradio==='yes'">yes
                </label>
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="adapterradio" [ngModelOptions]="{standalone: true}" value="no"  [checked]="adapterradio==='no'">no
                </label>
              </div>
              <!-- <div class="form-group" *ngIf="adapterradio=='yes'">
                  <label>Size</label>
                  <select class="form-control"  [(ngModel)]="adaptersize" [ngModelOptions]="{standalone: true}">
                      <option value="">Select Size</option>
                       <option *ngFor="let data_listsize of data_list_size" value="{{data_listsize.size_id}}">{{data_listsize.size_name}}</option>
                  </select>
                  <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
              </div>
              <div class="form-group" *ngIf="adapterradio=='yes'">
                  <label>Angle</label>
                  <select class="form-control" [(ngModel)]="adapterangel" [ngModelOptions]="{standalone: true}">
                      <option value="">Select Angle</option>
                      <option *ngFor="let item of [].constructor(180); let i = index" value="{{i+1}}">{{i+1}}</option>
                  </select>
                  <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
              </div> -->
              <div class="form-group" *ngIf="adapterradio=='yes'">
                  <label>Part Type</label>
                  <select class="form-control"  #p7 (change)="listing_size_ptype(p7.value,7)" [(ngModel)]="adapterpart_type" [ngModelOptions]="{standalone: true}">
                  <option value="" >Select part type</option>
                 <option *ngFor="let part_list of partList" value="{{part_list.part_id}}">{{part_list.part_name}}</option>
                </select>
                  <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
              </div>
              <div class="form-group">
                  <label>Size</label>
  <ionic-selectable
    class="form-control"
    item-content
    [(ngModel)]="port8"
    [items]="data_list_size"
    itemValueField="size_id"
    itemTextField="size_name"
    [canSearch]="true"
    placeholder="Select size"
    (onChange)="portChange8($event)" >
      </ionic-selectable>
</div>
               <div class="form-group" *ngIf="adapterradio=='yes'">
                  <label>Part Type</label>
                  <select class="form-control"  #p8 (change)="listing_size_ptype(p8.value,8)" [(ngModel)]="adapterpart_type2" [ngModelOptions]="{standalone: true}">
                  <option value="" >Select part type</option>
                 <option *ngFor="let part_list of partList" value="{{part_list.part_id}}">{{part_list.part_name}}</option>
                </select>
                  <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
              </div>
              <div class="form-group">
                  <label>Size</label>
  <ionic-selectable
    class="form-control"
    item-content
    [(ngModel)]="port9"
    [items]="data_list_size"
    itemValueField="size_id"
    itemTextField="size_name"
    [canSearch]="true"
    placeholder="Select size"
    (onChange)="portChange9($event)" >
      </ionic-selectable>
</div>
              <button class="btn" (click)="tab_click('addon')">Select ADD ON</button>
            </div>
          

             </div>

              <div *ngIf="tab_val == 'addon'">
                 <div class="form-group">
                  <label>Type of Add on</label>
                  <!-- <select class="form-control" [(ngModel)]="" [ngModelOptions]="{standalone: true}">
                    <option value="">Select type</option>
                      <option value="demo">Demo </option>
                  </select> -->
                  <input type="text" [(ngModel)]="addon_type" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Type of Add on" />
                  <!-- <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div> -->
              </div>
              <button class="btn"  (click)="send_query('addon_type')">send query</button>
              </div> 






          </div>
      </div>
    </div>
  
</ion-content>