@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body {
    display: block;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    position:relative;
    z-index:1;
    background-color: #ffffff;

}
*, ::after, ::before {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{ font-family: 'Montserrat', sans-serif;}
img {
    max-width: 100%;
    height: auto;
}
.automotive_area {
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    overflow: scroll;
}
.automotive_area:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 36%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/images/sape1.png);
  z-index: 0;
}
.container {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 24px;
}
.automotive_body{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.header_area {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    padding: 30px 0px 24px;
    position: relative;
}
.header_area h1{
  display: inline-block;
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.header_area .btn-back {
    display: inline-block;
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
    float: left;
    margin: 8px 0;
    max-width: 32px;
}
.header_area .btn-cart {
    display: inline-block;
    background: transparent;
    border: none;
    padding: 3px 0;
    outline: none;
    float: right;
    margin: 4px 0;
    max-width: 32px;
    outline: none;
    cursor: pointer;
    position: relative;
}
.header_area .btn-cart .total_cart {
    position: absolute;
    top: -10px;
    right: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
}
.header_area .logo {
    display: inline-block;
    width: 114px;
    margin: auto;
}
.header_area .logo img{
    width: 100%;
}
.search_box {
    width: 97%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    margin: 0 0 58px;
    box-shadow: 0px 0px 7px #0000001c;
    margin-left: auto;
    margin-right: auto;
}
.search_box .form-control {
    width: 100%;
    height: 48px;
    background: #ffffff;
    border: 1px solid #ffffff;
    font-size: 14px;
    font-weight: 500;
    color: #868686;
    padding: 10px 45px 10px 10px;
    /* box-shadow: 0 0 0px rgb(0, 0, 0); */
    outline: none;
}
.search_box .form-control::placeholder{
  font-weight: 500;
  color: #868686;
}
.search_box .icon {
    position: absolute;
    top: 9px;
    right: 15px;
    font-size: 26px;
    color: #bebebe;
}
.automotive_body h3 {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 10px;
  margin: 0 0 40px;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  border-bottom: 1px dashed #949494;
}
.form-group{
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0 0 25px;
}
select.form-control {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  border: 1px solid #8e8e8d;
  font-size: 14px;
  font-weight: 400;
  color: #616161;
  padding: 15px 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}
.form-group .arrow{
  position: absolute;
  top: 17px;
  right: 17px;
}
select.form-control:focus{
  border-color: #e9492a;
}
.form-group label {
  position: absolute;
  top: -10px;
  left: 12px;
  background: #ffffff;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  padding: 0 2px;
}
.btn {
  width: 100%;
  height: 52px;
  background: #e9492a;
  border: 1px solid #e9492a;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border-radius: 10px;
  letter-spacing: 1px;
}

.automotive_body ul {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 15px;
    margin: 0 0 30px;
    border-bottom: 1px dashed #949494;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.automotive_body ul.filter li {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 10px;
    margin: 0 5px 0 0;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    list-style: none;
    text-align: center;
    position: relative;
}
.automotive_body ul.filter li:last-child{
    margin: 0 0 0 0;
}
.automotive_body ul.filter li:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #e85a42;
    opacity: 0;
}
.automotive_body ul.filter li.active{
    color: #e85a42;
}
.automotive_body ul.filter li.active:after{
    opacity: 1;
}
.product_select{
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.check_box {
    cursor: pointer;
    box-sizing: border-box;
}
.check_box input[type="radio"]{
    display: none;
}
.check_box span {
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
    border: 1px solid #000;
    padding: 7px 10px;
    border-radius: 30px;
    transition: 0.5s;
}
.check_box input[type="radio"]:checked ~ span{
    color: #e85a42;
    border-color: #e85a42;
}
.form-group.form-radio{}
.form-group.form-radio label.radio-inline {
    position: relative;
    left: auto;
    top: auto;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}

.product_area {
    width: 100%;
    box-sizing: border-box;
    margin-top: 18px;
}
.product_area h3{
    width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0 20px;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    border: none;
}
.product_area h3 .btn-see {
    outline: none;
    padding: 0 0;
    margin: 0 0;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    float: right;
    background-color: transparent;
}
.product_area h3 .btn-see:hover{ color: #000; }
.product_box{
    width: 100%;
    min-height: 109px;
    box-sizing: border-box;
    position: relative;
    padding-left: 110px;
    margin: 0 0 20px;
}
.product_box h4{
    width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 600;
}
.product_box p {
    width: 100%;
    box-sizing: border-box;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 15px;
}
.product_box h5{
    width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0 0;
    font-size: 16px;
    font-weight: 500;
}
.product_box h5 .price {
    float: right;
    font-size: 15px;
    font-weight: 600;
    color: #e54b25;
}
.product_box h5 .price strong{
    font-weight: 500;
    color: #8a8a8a;
}
.product_box .img_box{
    position: absolute;
    top: 0;
    left: 0;
    width: 97px;
    height: 109px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8ebe7;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px 10px;
}

.category_body {
    width: 102%;
    box-sizing: border-box;
    margin-left: -1%;
}
.category_body:after, .category_body:before{ content: ""; display: table; width: 100%; }
.category_body:after{ clear: both; }
.category_body .category_box {
    width: 100%;
    float: left;
    box-sizing: border-box;
    border: 1px solid #eaeaea57;
    margin: auto 2% 10px;
    max-width: 29%;
    text-align: center;
    border-radius: 8px;
    padding: 10px 5px 34px 5px;
    box-sizing: border-box;
    box-shadow: 0px 2px 6px #0000001a;
    outline: none;
    background-color: #fff;
    /* border: none; */
    cursor: pointer;
    min-height: 155px;
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    position: relative;
}
.category_body .category_box:hover{
    background-color: #000;
}
.category_body .category_box:nth-of-type(3n){
  
    margin-right: 0;
}
.category_body .category_box i {
    font-size: 19px;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
}
.category_body .category_box p {
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 500;
    color: #1d1d1b;
    margin: 0;
}
.category_body .category_box .img_box {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eaeaea;
    background: #ffffff;
    border-radius: 14px;
    margin: 0px auto 8px;
}
.category_body .category_box .img_box img {
    max-width: 51px;
    height: 40px;
    object-fit: contain;
}
.category_body .category_box:hover {
    background: #e54b25;
    border-color: #e54b25;
    box-shadow: 2px 3px 5px rgb(169 166 166);
}
.category_body .category_box:hover p, .category_body .category_box:hover i{
    color: #fff;
}