

<ion-content [fullscreen]="true">
  
    <div class="automotive_area">
      <div class="container">
          <div class="automotive_body">
              <div class="header_area">
                 <button class="btn-back" routerLink="/sidebar" (click)="storePage('home')"><img src="assets/images/menu.png" alt="back" title="" /></button>
                  <div class="logo"><img src="assets/images/logo2.png" alt="logo" title=""></div>
                  <button class="btn-cart" routerLink="/cart-page"><img src="assets/images/cart.png" alt="back" title="" /><span class="total_cart" [innerHTML]="cartcount" ></span></button>
              </div>
              <div class="search_box">
                  <div class="icon"><i class="zmdi zmdi-search"></i></div>
                  <input type="text" class="form-control" placeholder="Search Products..." />
              </div>
              <div class="product_area">
                <h3>
                    Categories
                </h3>
                <div class="category_body">
                    <button class="category_box" routerLink="/box-hose/1">
                      <div class="d-block">
                        <div class="img_box" ><img src="assets/images/category1.png"></div>
                        <p>Bare Hoses</p>
                        <i class="zmdi zmdi-caret-right-circle"></i>
                      </div>
                    </button>
                    <button class="category_box" routerLink="/endfitting-hose/3">
                        <div class="d-block">
                        <div class="img_box" ><img src="assets/images/category2.png"></div>
                        <p>End Fittings</p>
                        <i class="zmdi zmdi-caret-right-circle"></i>
                    </div>
                    </button>
                    <button class="category_box" routerLink="/assembly-hose/4">
                        <div class="d-block">
                        <div class="img_box"><img src="assets/images/category3.png"></div>
                        <p>Hose Assembly</p>
                        <i class="zmdi zmdi-caret-right-circle"></i>
                    </div>
                    </button>
                    <button class="category_box" routerLink="/automotive/7">
                        <div class="d-block">
                        <div class="img_box"><img src="assets/images/category4.png"></div>
                        <p>Automotive Parts</p>
                        <i class="zmdi zmdi-caret-right-circle"></i>
                    </div>
                    </button>
                    <button class="category_box"  routerLink="/earth-moving/8">
                        <div class="d-block">
                        <div class="img_box"><img src="assets/images/category5.png"></div>
                        <p>HEM Hoses</p>
                        <i class="zmdi zmdi-caret-right-circle"></i>
                    </div>
                    </button>
                    <button class="category_box" routerLink="/product">
                        <div class="d-block">
                        <div class="img_box"><img src="assets/images/category6.png"></div>
                        <p> HEM Parts</p>
                        <i class="zmdi zmdi-caret-right-circle"></i>
                    </div>
                    </button>
                </div>
              </div>
              <div class="product_area">
                    <h3>
                        Trending Products
                        <button class="btn-see" routerLink="/product">See All</button>
                    </h3>

                  <div class="product_box"  *ngFor="let menulist of dataMenu; let i=index" routerLink="/product-details/{{menulist.hp_id}}">
                    <div class="img_box">
                       <img *ngIf="menulist.hp_image" src="{{img_url}}{{menulist.hp_image}}" alt="product image" title="">
                       <img *ngIf="!menulist.hp_image" src="assets/images/noimage.png" alt="product image" title="">
                    </div>
                    <h4 *ngIf="menulist.hp_subcat==1">{{menulist.item_name}}</h4>
                  <h4 *ngIf="menulist.hp_subcat==5 || menulist.hp_subcat==6">{{menulist.hp_partno}}</h4>
                   <h4 *ngIf="menulist.hp_subcat==3 || menulist.hp_subcat==4">{{menulist.hp_description}}</h4>
                  <p *ngIf="menulist.hp_subcat!=3 && menulist.hp_subcat!=4">{{menulist.hp_description}}</p>
                    <h5>
                        Size : {{menulist.hp_size}}"
                        <div class="price">INR {{menulist.hp_price}}<!-- <strong>/Meter</strong> --></div>
                      </h5>
                  </div>

                  



              </div>



          </div>
      </div>
    </div>
  
</ion-content>
