
<ion-content>


    <div class="login_main_area">
      <div class="container">
        <button class="nav_bar" (click)="back()"><i class='fas fa-arrow-left'></i></button>
        <div class="login_body_area">
          <div class="logo"><img src="assets/images/logo.png" alt="logo" title=""></div>
          <div class="login_body">
            <h1>Fill the Below information to Sign In</h1>
            <div class="login_box">
              <h2>Create account</h2>
              <div class="form-group">
                <div class="icon"><img src="assets/images/icon5.png" alt="icon" title=""></div>
                <input type="text" class="form-control" placeholder="Name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <div class="icon"><img src="assets/images/icon5.png" alt="icon" title=""></div>
                <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <div class="icon"><img src="assets/images/icon5.png" alt="icon" title=""></div>
                <input type="text" placeholder="Email" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <div class="icon"><img src="assets/images/icon6.png" alt="icon" title=""></div>
                <input type="text" class="form-control" type="password" placeholder="Password" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}">
               
              </div>
              <div class="form-group">
                <div class="icon"><img src="assets/images/icon6.png" alt="icon" title=""></div>
                <input type="text" class="form-control" placeholder="Confirm Password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}">
                
              </div>
              <div class="form-group">
                <div class="icon"><img src="assets/images/icon5.png" alt="icon" title=""></div>
                <input type="text" class="form-control" placeholder="Address" [(ngModel)]="address" [ngModelOptions]="{standalone: true}">
              </div>

                            <button class="btn" (click)="register()"> Sign up</button>
              <h4><span>or</span></h4>
              <ul>
                <li><a href="#"><img src="assets/images/facebook.png" alt="facebook" title=""></a></li>
                <li><a href="#"><img src="assets/images/google-plus.png" alt="google plus" title=""></a></li>
              </ul>
            </div>
            <div class="register_box">
              <h5>Already have an account? </h5>
              <button class="btn-link" routerLink="/login">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
</ion-content>
