
<ion-content>
    <div class="login_area">
      <div class="container">
       <!--  <button class="btn-back"  routerLink="/home" (click)="storePage('/hose-page/4')"><img src="assets/images/back.png" alt="back" title="" /></button> -->
         <button routerLink="/sidebar" class="nav_bar" (click)="back()"><i class='fas fa-arrow-left'></i></button>
          <div class="header_area">
              <h1>register</h1>
          </div>
          <div class="login_body">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                   <input type="text" placeholder="Email" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group phone">
                 <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" maxlength="10" (keypress)="onlyNumberKey($event)" maxlength="12">
              </div>
              <div class="form-group Password">
                  <input type="text" class="form-control" type="password" placeholder="Password" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group Confirm">
                  <input type="text" class="form-control" placeholder="Confirm Password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="submit_button_box">
                  <button class="btn" (click)="register()"><i class="zmdi zmdi-long-arrow-right"></i></button>
              </div>
          </div>
          <div class="login_with">
              <div class="or"><strong>or</strong></div>
              <h3>Login with social media</h3>
              <ul>
                  <li><img src="assets/images/facebook.png" alt="facebook" title="" /></li>
                  
                  <li><img src="assets/images/google.png" alt="google" title="" /></li>
              </ul>
              <p>Already have an account? <button class="btn-link" routerLink="/login">Login</button></p>
          </div>
      </div>
    </div>
  </ion-content>
